
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Nunito+Sans:wght@200..1000&family=Poppins:wght@100..900&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

button {
    font-family: 'Poppins', sans-serif;
}
